nfl.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="NFL">
  <xs:complexType>
  <xs:sequence>
      <xs:element name ="team" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="city" type="xs:string"/>
          <xs:element name="wins" type="xs:integer"/>
          <xs:element name="loses" type="xs:integer"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"></xs:attribute>
      </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>